@import url("./colors.css");

* {
    font-family: 'FiraMono', 'Fira Mono';
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#custom-power, #custom-cmus, #workspaces, #custom-date, #clock, #battery, #pulseaudio, #network, #tray {
    margin: 10px 4px 4px 8px;
    background-color: @background;
    padding: 0 12px;
    border-radius: 10px;
    box-shadow: none;
    box-shadow: 0px 2px 2px @background, inset 0 1px 2px @foreground;
}

#custom-power {
    color: @bright;
    background-color: @red;
    box-shadow: 0px 2px 2px @red, inset 0 2px 2px @bright;
    border-radius: 50%;
    padding: 0 15px;
}
#custom-power:hover {
    background-color: @orange;
    box-shadow: 0px 2px 2px @foreground, inset 0 2px 2px @bright;
}

#custom-cmus {
    color: @bright;
}

#workspaces {
    padding: 4px;
}
#workspaces button {
    color: @bright;
    background-color: @background;
    margin: 0 2px;
}
#workspaces button.active, button.focused {
    color: @background;
    background-color: @active-item;
    box-shadow: 0px 2px 2px @background, inset 0 2px 2px @bright;
}
#workspaces button:hover {
    color: @background;
    background-color: @bright;
}

#tray {
    color: @bright;
    background-color: @background;
}

#pulseaudio {
    color: @green;
}

#network {
    color: @light-blue;
}

#clock {
    color: @yellow;
    margin-right: 10px;
}

/* unused */
@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#custom-date {
    color: #8fbcbb;
}

#battery {
    color: #a3be8c;
}
#battery.charging {
    color: #a3be8c;
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
